    <div class="container">
        <h1>Contact Us</h1>
        <hr>
        <h2>Have any questions? We'd love to hear from you</h2>
        <div class="contact-items">
            <div class="customer-care">
                <h3>Customer Care</h3>
                <p>Our Support team is spread all over the world to give you fast response</p>
                <button id="cust-care"> Submit a Request</button>
                
            </div>
            <div class="write-us">
                <h3>Write Us</h3>
                <p> You can write us if you have any queries</p>
               <a href="#"> <button id="write">Write</button></a>
          <!-- <a href="./contact-form.html"> <button id="write">Write</button></a>  u-->
            </div>
            <div class="sales-market">
                <h3>Address</h3>
                <p>Friends collony , katol road ph:-98435324324 40044060, Nagpur</p>
                <button id="sales">Location</button>
               

            </div>
        </div>
    </div>
