body{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(48, 46, 46);
  background-color: rgba(255, 255, 255, 0.979);
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}
hr{
  width: 80%;
}
h2{
  font-size: 20px;
}
.contact-items{
  display: flex;
  margin: 30px auto;
  flex-wrap: wrap;
  align-items: center;

}
.customer-care,.write-us,.sales-market{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28%;
  margin: 30px auto;
  padding: 35px 15px;
  border-radius: 15px;
  text-align: center;
  min-width: 250px;
  
}
.customer-care{
  height: 250px;
  box-shadow: 0 15px 15px rgb(63, 63, 65);
  //border: 1px solid rgb(44, 44, 44);
}
.write-us{
  height: 250px;
  
  box-shadow: 0 15px 15px rgb(63, 63, 65);
  //border: 2px rgb(90, 94, 90);
}
.sales-market{
  height: 250px;
  box-shadow: 0 15px 15px rgb(63, 63, 65);
  //border: 1px solid rgb(44, 44, 44);
}
p{
  font-size: 15px;
}
button{
  padding: 8px 16px;
  font-size: 17px;
  border-radius: 25px;
  border: none;
  margin: 15px auto;
  cursor: pointer;
  color: rgb(255, 255, 255);
}
button:hover{
  color: rgb(36, 36, 36);
}
#cust-care{
  background: rgb(45, 46, 45);

  box-shadow: 0 0 5px black;
}
#write{
  background:  rgb(58, 58, 58);

  box-shadow: 0 0 5px black;
}
#sales{
  background: rgb(58, 58, 58);
  box-shadow: 0 0 5px black;
}
a{
  font-size: 16px;
}
.customer-care a{
  color: rgb(51, 51, 51);
  text-shadow: 0 0 2px rgba(53, 53, 53, 0.637);
}
.sales-market a{
  color: rgb(27, 26, 26);
  text-shadow: 0 0 2px rgba(52, 52, 53, 0.637);
}